$green: #71b451;
$torquoise: #296976;
$background: #e8e8e8;

.hidden {
    display: none;
}

body {
    font-family: sans-serif;
    background-color: $background;
}

.tab-domain{
    background-color: #daf9fa;
    padding:10px;
    margin:10px;
    float: left;
}

#tab-graph {
    .tab-node + .tab-node {
        margin-right: 5px;
    }

    .tab-node {
        cursor: pointer;
        margin: 5px;
        margin-left: 10px;
        float: left;
        padding: 10px; 
        border-radius: .3rem;
        background-color: darken($background, 4%);
        width: 150px;
        font-size: .8rem;

        .thumbnail {
            overflow: hidden;
            margin: 0 auto;
            width: 150px;
            height: 150px;

            img {
                width: 100%;
            }
        }

        .title {
            margin-top: 1em;
            color: darken($torquoise, 20%);
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
