.hidden {
  display: none; }

body {
  font-family: sans-serif;
  background-color: #383738;
  color: #bfbfbf; }

.tab-domain {
  background-color: #daf9fa;
  padding: 0px;
  margin: 5px;
  float: left;
  border-radius: .3rem; }

.tab-filter input {
  border: none;
  font-size: 32px;
  padding: 3px 3px 3px 9px;
  border-radius: .5rem;
  background-color: #403f40;
  -webkit-box-shadow: inset 0 0 3px #050405;
  color: #bfbfbf; }

#tab-graph .tab-node {
  cursor: pointer;
  margin: 6px 4px 6px 4px;
  -webkit-flex: 0 0 auto;
  padding: 5px;
  border-radius: .3rem;
  background-color: #2e2d2e;
  font-size: .8rem;
  width: 150px; }
  #tab-graph .tab-node .thumbnail {
    overflow: hidden;
    margin: 0 auto;
    width: 150px;
    height: 150px; }
    #tab-graph .tab-node .thumbnail img {
      width: 100%; }
  #tab-graph .tab-node .title {
    margin-top: 0.5em;
    color: #bfbfbf;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px; }

.node-cont {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  position: relative; }

.edge-cont {
  position: absolute;
  top: 10px;
  left: 8px;
  pointer-events: none; }

.edge-line {
  stroke: #fff;
  stroke-width: 2; }

.edge-circle {
  fill: #fff; }

svg {
  position: absolute; }
