$green: #71b451;
$torquoise: #296976;
$background: #383738;
$text: #bfbfbf;

.hidden {
    display: none;
}

body {
    font-family: sans-serif;
    background-color: $background;
    color: $text;
}

.tab-domain{
    background-color: #daf9fa;
    padding:0px;
    margin:5px;
    float: left;
    border-radius: .3rem;
}

#tab-graph {
}

.tab-filter input{
  border:none;
  font-size:32px;
  padding:3px 3px 3px 9px;
  border-radius: .5rem;
  background-color: lighten($background, 3%);
  -webkit-box-shadow:inset 0 0 3px darken( $background, 20% );
  color: $text;
}

#tab-graph {
    .tab-node + .tab-node {
    }

    .tab-node {
        cursor: pointer;
        margin: 6px 4px 6px 4px;
        float: left;
        padding: 5px; 
        border-radius: .3rem;
        background-color: darken($background, 4%);
        width: 150px;
        font-size: .8rem;

        .thumbnail {
            overflow: hidden;
            margin: 0 auto;
            width: 150px;
            height: 150px;

            img {
                width: 100%;
            }
        }

        .title {
            margin-top: 0.5em;
            color: $text;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.edge-cont {
  position:absolute;
  top:0;
  left:0;
}

.edge {
  border-top:3px solid #fff;
  position:absolute;
  width:400px;
}
