body {
  font-family: sans-serif;
  background-color: #e8e8e8; }

.tab-domain {
  background-color: #daf9fa;
  padding: 10px;
  margin: 10px;
  float: left; }

#tab-graph .tab-node + .tab-node {
  margin-right: 5px; }
#tab-graph .tab-node {
  margin: 5px;
  margin-left: 10px;
  float: left;
  padding: 10px;
  border-radius: .3rem;
  background-color: #dedede;
  width: 150px;
  font-size: .8rem; }
  #tab-graph .tab-node .thumbnail {
    overflow: hidden;
    margin: 0 auto;
    width: 150px;
    height: 150px; }
    #tab-graph .tab-node .thumbnail img {
      width: 100%; }
  #tab-graph .tab-node .title {
    margin-top: 1em;
    color: #0f262a;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
