@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\000034}}
body {
  margin-left: 20%;
  margin-right: 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\000039}}
button {
  background-color: #bfbfbf;
  color: #383738;
  border: none;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000316}}
button:hover {
  background-color: #d9d9d9;
  color: #2b2a2b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000322}}
.option-group {
  background-color: #383738;
  border: 5px solid #525052;
  border-radius: 14px;
  margin: 10px;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000330}}
#save {
  height: 30px;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000335}}
label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin: 10px;
  font-size: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000345}}
label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottombottom: 1px;
  background-color: #8f8f8f;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000359}}
input[type=radio]:checked + label:before {
  content: "\2022";
  color: #333233;
  font-size: 30px;
  text-align: center;
  line-height: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/code\/js\/overtab\/app\/styles\/options\.scss}line{font-family:\0000367}}
input[type=radio] {
  display: none;
}
