@import "compass/css3";

$green: #71b451;
$torquoise: #296976;
$background: #383738;
$text: #bfbfbf;
$edge-color: #8c8c8c;
$edge-parent-color: #999999;
$close-box-shadow: #000;

/* new comment */


.hidden {
    display: none;
}

body {
    font-family: sans-serif;
    background-color: $background;
    color: $text;
}

.tab-domain{
    background-color: #daf9fa;
    padding:0px;
    margin:5px;
    float: left;
    border-radius: .3rem;
}

#tab-graph {
}

::-webkit-input-placeholder {
  color:darken( $text, 35% );
}

.tab-filter-cont{
  width:96%;
  top:23px;
  z-index:99999;
  position:fixed;

  .tab-filter{
    width:83%;
    float:left;
    display:inline-block;
    margin-left:3%;
  }

  .filter-ctrl-cont{
    width:7%;
    display:inline-block;
    float:right;
  }

  button{
    background-color:transparent;
    border:none;
    display:inline;
    outline: none;
    margin-top:4px;
  }

  .edge-button-img{
    height:36px;
  }

  .edge-button-img:hover{
    opacity:0.7;
  }

  .show-edges{
    -webkit-filter: drop-shadow(0px 0px 5px #fff);
  }

  .scroll-back-button{
    display:inline;
  }

  .multi-select-button{
    display:inline;
  }

  input{
    width:100%;
    background-color: lighten($background, 3%);
    -webkit-box-shadow:inset 0 0 3px darken( $background, 20% );
    color: $text;
  }
}

#tab-graph {
    .tab-node + .tab-node {
    }

    .node-hover-group{
      z-index:1;
    }

    .node-hover-group:hover{
      opacity:0.7;
    }

    .tab-node {
        cursor: pointer;
        margin: 8px 6px 8px 6px;
        -webkit-flex: 0 0 auto;

        padding: 5px;
        border-radius: .3rem;
        background-color: darken($background, 4%);
        font-size: .7rem;
        width:150px;
        position:relative;
        border-width:9px;
        border-style:solid;

        .thumbnail {
            overflow: hidden;
            margin: 0 auto;
            width: 150px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .favicon:hover{
          opacity:0.8;
          background-color:$text;
        }

        .favicon{
          position:absolute;
          top:-8px;
          left:-8px;
          border-width:4px;
          border-style:solid;
          z-index:2;
          height:20px;
          width:20px;
        }

        .favicon-img{
          background-color:#fff;
          height:20px;
          width:20px;
        }

        .title {
            margin-top: 0.5em;
            color: $text;
            overflow-x: hidden;
            white-space: nowrap;
            width:150px;
        }

        .close-button{
          position:absolute;
          right:-14px;
          top:-19px;

          img {
            box-shadow:rgba(0, 0, 0, 0.85) -2px 3px 28px;
            border-radius:12px;
            height:22px;
          }
        }

        .close-button:hover img{
          opacity:0.8;
          box-shadow:none;
        }
    }
}

.node-cont {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  position:relative;
  margin-top:100px;
}

.edge-cont {
  position:absolute;
  top:10px;
  left:8px;
  pointer-events:none;
  height:99%;
  width:99%;
}

.edge-line {
  stroke:$edge-color;
  stroke-width:2;
}

.edge-circle {
  fill:$edge-parent-color;
}

svg{
  height:100%;
  width:100%;
  position:absolute;
}

/* colors */
.border-color-0{ border-color:#8D3663; }
.border-color-1{ border-color:#DA7399; }
.border-color-1{ border-color:#DA7399; }
.border-color-2{ border-color:#8cc78b; }
.border-color-3{ border-color:#ECA72F; }
.border-color-4{ border-color:#64D2E4; }
.border-color-5{ border-color:#37722D; }
.border-color-6{ border-color:#6788E3; }
.border-color-7{ border-color:#E53946; }
.border-color-8{ border-color:#D3B28F; }
.border-color-9{ border-color:#DD70E1; }
.border-color-10{ border-color:#874636; }
.border-color-11{ border-color:#3E6485; }
.border-color-12{ border-color:#63DF93; }
.border-color-13{ border-color:#BDCB36; }
.border-color-14{ border-color:#DBB5E2; }
.border-color-15{ border-color:#907F2A; }
.border-color-16{ border-color:#DF864F; }
.border-color-17{ border-color:#5B5446; }
.border-color-18{ border-color:#8B4485; }
.border-color-19{ border-color:#56A782; }
.border-color-20{ border-color:#A6CC6C; }
.border-color-21{ border-color:#ACC4B4; }
.border-color-22{ border-color:#E46D70; }
.border-color-23{ border-color:#DF4EAB; }
.border-color-24{ border-color:#5D9BD3; }
.border-color-25{ border-color:#5698A2; }
.border-color-26{ border-color:#ACC3DD; }
.border-color-27{ border-color:#54bac7; }
.border-color-28{ border-color:#4FB844; }
.border-color-29{ border-color:#A83C5B; }
.border-color-30{ border-color:#D5B664; }
.border-color-31{ border-color:#7C8E66; }
.border-color-32{ border-color:#735524; }
.border-color-33{ border-color:#B7C78D; }
.border-color-34{ border-color:#3B6861; }
.border-color-35{ border-color:#AE81E6; }
.border-color-36{ border-color:#575E9B; }
.border-color-37{ border-color:#E17520; }
.border-color-38{ border-color:#DD3463; }
.border-color-39{ border-color:#A9759B; }
.border-color-40{ border-color:#63516A; }
.border-color-41{ border-color:#884D59; }
.border-color-42{ border-color:#6BD4BC; }
.border-color-43{ border-color:#A43434; }
.border-color-44{ border-color:#D8522F; }
.border-color-45{ border-color:#7B9E30; }
.border-color-46{ border-color:#E4998A; }
.border-color-47{ border-color:#DDAAB8; }
.border-color-48{ border-color:#96795E; }
.border-color-49{ border-color:#954A1C; }
.border-color-50{ border-color:#DF3C85; }
.border-color-51{ border-color:#D776BC; }
.border-color-52{ border-color:#D8BB37; }
.border-color-53{ border-color:#56AA66; }
.border-color-54{ border-color:#8D58AF; }
.border-color-55{ border-color:#556429; }
.border-color-56{ border-color:#B57B2B; }
.border-color-57{ border-color:#AC94D5; }
.border-color-58{ border-color:#BD745F; }

/***************************************************/
/***************************************************/
/***************************************************/
/* typeahead */
/***************************************************/
/***************************************************/
/***************************************************/


.twitter-typeahead{
  width:100%;
}

/* scaffolding */
/* ----------- */

.tt-dropdown-menu,
.gist {
  text-align: left;
}

.ng-invalid {
  border-color: red !important; /* just for visual */
}

/* site theme */
/* ---------- */

.tt-input{
  width:100%;
}

.typeahead,
.tt-query,
.tt-hint {
  width:100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid $background;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  opacity:0.77;
  width: 100%;
  margin-top: 2px;
  padding: 8px 0;
  background-color: lighten( $background, 5% );
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion strong{
  font-size: 16px;
  color:darken( #fff, 5% );
  letter-spacing:1px;
  text-decoration:underline;
  font-style:italic;
}

.tt-suggestion {
  font-style:italic;
  letter-spacing:0px;
  color:#fff;
  padding: 3px 10px;
  font-size: 15px;
  line-height: 24px;
  overflow:hidden;
  width:100%;
  height:24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}
/***************************************************/
/***************************************************/
/***************************************************/
/* angular animations */
/***************************************************/
/***************************************************/
/***************************************************/

.tab-node.ng-enter,
.tab-node.ng-leave, {
  -webkit-transition:all linear 0.1s;
}

.tab-node.ng-leave.tab-node.ng-leave-active,
.tab-node.ng-enter {
  opacity:0;
}

.tab-node.ng-enter.ng-enter-active,
.tab-node.ng-leave,{
  opacity:1;
}

.edge-cont{
 -webkit-transition: opacity 0.1s linear;
}

.edge-cont.ng-hide-add, .edge-cont.ng-hide-remove{
  display:block!important;
}

.edge-cont.ng-hide{
  opacity: 0;
}

@-webkit-keyframes blink {
    0% {
        -webkit-filter: none;
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 22px $text);
    }
    100% {
        -webkit-filter: none;
    }
}
.tab-node.fromtab {
    -webkit-transition: all 0.5s ease;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
}
