<!DOCTYPE html>
<html>
    <head>
        <title>OverTab | Be over your tabs.</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/angular.min.js"></script>
        <script src="js/mainController.js"></script>
        <script src="js/app.js"></script>
        <script src="js/mainController.js"></script>
    </head>

    <body ng-app>

        <div ng-controller="mainController" ng-init="init()" id="tab-graph">
            <div class="tab-filter">
                <p><label>Filter: </label><input ng-model="tabFilter" type="text"></p>
            </div>

            <div ng-repeat="tab in tabs | filter:tabFilter" class="tab-node">
                <div class="thumbnail"><img width="150px" src="{{tab.screencap}}"></div>
                <div class="title">{{tab.title}}</div>
            </div>
        </div>

    </body>
</html>
