/* new comment */
/* line 14, style.scss */
.hidden {
  display: none;
}

/* line 18, style.scss */
body {
  font-family: sans-serif;
  background-color: #383738;
  color: #bfbfbf;
}

/* line 24, style.scss */
.tab-domain {
  background-color: #daf9fa;
  padding: 0px;
  margin: 5px;
  float: left;
  border-radius: .3rem;
}

/* line 35, style.scss */
::-webkit-input-placeholder {
  color: #666666;
}

/* line 39, style.scss */
.tab-filter-cont {
  width: 96%;
  top: 23px;
  z-index: 99999;
  position: fixed;
}
/* line 45, style.scss */
.tab-filter-cont .tab-filter {
  width: 83%;
  float: left;
  display: inline-block;
  margin-left: 3%;
}
/* line 52, style.scss */
.tab-filter-cont .filter-ctrl-cont {
  width: 7%;
  display: inline-block;
  float: right;
}
/* line 58, style.scss */
.tab-filter-cont button {
  background-color: transparent;
  border: none;
  display: inline;
  outline: none;
  margin-top: 4px;
}
/* line 66, style.scss */
.tab-filter-cont .edge-button-img {
  height: 36px;
}
/* line 70, style.scss */
.tab-filter-cont .edge-button-img:hover {
  opacity: 0.7;
}
/* line 74, style.scss */
.tab-filter-cont .show-edges {
  -webkit-filter: drop-shadow(0px 0px 5px #fff);
}
/* line 78, style.scss */
.tab-filter-cont .scroll-back-button {
  display: inline;
}
/* line 82, style.scss */
.tab-filter-cont .multi-select-button {
  display: inline;
}
/* line 86, style.scss */
.tab-filter-cont input {
  width: 100%;
  background-color: #403f40;
  -webkit-box-shadow: inset 0 0 3px #050405;
  color: #bfbfbf;
}

/* line 98, style.scss */
#tab-graph .node-hover-group {
  z-index: 1;
}
/* line 102, style.scss */
#tab-graph .node-hover-group:hover {
  opacity: 0.7;
}
/* line 106, style.scss */
#tab-graph .tab-node {
  cursor: pointer;
  margin: 8px 6px 8px 6px;
  -webkit-flex: 0 0 auto;
  padding: 5px;
  border-radius: .3rem;
  background-color: #2e2d2e;
  font-size: .7rem;
  width: 150px;
  position: relative;
  border-width: 9px;
  border-style: solid;
}
/* line 120, style.scss */
#tab-graph .tab-node .thumbnail {
  overflow: hidden;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
/* line 127, style.scss */
#tab-graph .tab-node .favicon:hover {
  opacity: 0.8;
  background-color: #bfbfbf;
}
/* line 132, style.scss */
#tab-graph .tab-node .favicon {
  position: absolute;
  top: -8px;
  left: -8px;
  border-width: 4px;
  border-style: solid;
  z-index: 2;
  height: 20px;
  width: 20px;
}
/* line 143, style.scss */
#tab-graph .tab-node .favicon-img {
  background-color: #fff;
  height: 20px;
  width: 20px;
}
/* line 149, style.scss */
#tab-graph .tab-node .title {
  margin-top: 0.5em;
  color: #bfbfbf;
  overflow-x: hidden;
  white-space: nowrap;
  width: 150px;
}
/* line 157, style.scss */
#tab-graph .tab-node .close-button {
  position: absolute;
  right: -14px;
  top: -19px;
}
/* line 162, style.scss */
#tab-graph .tab-node .close-button img {
  box-shadow: rgba(0, 0, 0, 0.85) -2px 3px 28px;
  border-radius: 12px;
  height: 22px;
}
/* line 169, style.scss */
#tab-graph .tab-node .close-button:hover img {
  opacity: 0.8;
  box-shadow: none;
}

/* line 176, style.scss */
.node-cont {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  position: relative;
  margin-top: 100px;
}

/* line 184, style.scss */
.edge-cont {
  position: absolute;
  top: 10px;
  left: 8px;
  pointer-events: none;
  height: 99%;
  width: 99%;
}

/* line 193, style.scss */
.edge-line {
  stroke: #8c8c8c;
  stroke-width: 2;
}

/* line 198, style.scss */
.edge-circle {
  fill: #999999;
}

/* line 202, style.scss */
svg {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 208, style.scss */
.border-color-0 {
  border-color: #AE2A5A;
}

/* line 209, style.scss */
.border-color-1 {
  border-color: #3B97EB;
}

/* line 210, style.scss */
.border-color-2 {
  border-color: #E3760D;
}

/* line 211, style.scss */
.border-color-3 {
  border-color: #204E41;
}

/* line 212, style.scss */
.border-color-4 {
  border-color: #655C04;
}

/* line 213, style.scss */
.border-color-5 {
  border-color: #AE879F;
}

/* line 214, style.scss */
.border-color-6 {
  border-color: #1392A0;
}

/* line 215, style.scss */
.border-color-7 {
  border-color: #484D85;
}

/* line 216, style.scss */
.border-color-8 {
  border-color: #DD7E74;
}

/* line 217, style.scss */
.border-color-9 {
  border-color: #7B370C;
}

/* line 218, style.scss */
.border-color-10 {
  border-color: #829D57;
}

/* line 219, style.scss */
.border-color-12 {
  border-color: #225E0A;
}

/* line 220, style.scss */
.border-color-13 {
  border-color: #3FA384;
}

/* line 221, style.scss */
.border-color-14 {
  border-color: #75355D;
}

/* line 222, style.scss */
.border-color-15 {
  border-color: #BC905F;
}

/* line 223, style.scss */
.border-color-16 {
  border-color: #5A453B;
}

/* line 224, style.scss */
.border-color-17 {
  border-color: #A73331;
}

/* line 225, style.scss */
.border-color-18 {
  border-color: #03AB6B;
}

/* line 226, style.scss */
.border-color-19 {
  border-color: #C78A05;
}

/* line 227, style.scss */
.border-color-20 {
  border-color: #793739;
}

/* line 228, style.scss */
.border-color-21 {
  border-color: #DC714A;
}

/* line 229, style.scss */
.border-color-22 {
  border-color: #7F8967;
}

/* line 230, style.scss */
.border-color-23 {
  border-color: #3D7EA5;
}

/* line 231, style.scss */
.border-color-24 {
  border-color: #D67DA8;
}

/* line 232, style.scss */
.border-color-25 {
  border-color: #7C99A5;
}

/* line 233, style.scss */
.border-color-26 {
  border-color: #2E7C4F;
}

/* line 234, style.scss */
.border-color-27 {
  border-color: #3E5721;
}

/* line 235, style.scss */
.border-color-28 {
  border-color: #AF4586;
}

/* line 236, style.scss */
.border-color-29 {
  border-color: #D78639;
}

/* line 237, style.scss */
.border-color-30 {
  border-color: #AC8F3D;
}

/* line 238, style.scss */
.border-color-31 {
  border-color: #5A4566;
}

/* line 239, style.scss */
.border-color-32 {
  border-color: #EF642A;
}

/* line 240, style.scss */
.border-color-33 {
  border-color: #88A33C;
}

/* line 241, style.scss */
.border-color-34 {
  border-color: #2C5277;
}

/* line 242, style.scss */
.border-color-35 {
  border-color: #9D58AD;
}

/* line 243, style.scss */
.border-color-36 {
  border-color: #807E0C;
}

/* line 244, style.scss */
.border-color-37 {
  border-color: #EA7486;
}

/* line 245, style.scss */
.border-color-38 {
  border-color: #754E8A;
}

/* line 246, style.scss */
.border-color-39 {
  border-color: #A07B7D;
}

/* line 247, style.scss */
.border-color-40 {
  border-color: #4C780A;
}

/* line 248, style.scss */
.border-color-41 {
  border-color: #9E3E15;
}

/* line 249, style.scss */
.border-color-42 {
  border-color: #DF6A93;
}

/* line 250, style.scss */
.border-color-43 {
  border-color: #BD87B4;
}

/* line 251, style.scss */
.border-color-44 {
  border-color: #B32D49;
}

/* line 252, style.scss */
.border-color-45 {
  border-color: #485900;
}

/* line 253, style.scss */
.border-color-46 {
  border-color: #A68366;
}

/* line 254, style.scss */
.border-color-47 {
  border-color: #942B5D;
}

/* line 255, style.scss */
.border-color-48 {
  border-color: #CA5131;
}

/* line 256, style.scss */
.border-color-49 {
  border-color: #779B7D;
}

/* line 257, style.scss */
.border-color-50 {
  border-color: #CE671E;
}

/* line 258, style.scss */
.border-color-51 {
  border-color: #862229;
}

/* line 259, style.scss */
.border-color-52 {
  border-color: #7D4B12;
}

/* line 260, style.scss */
.border-color-53 {
  border-color: #68452F;
}

/* line 261, style.scss */
.border-color-54 {
  border-color: #3493B2;
}

/* line 262, style.scss */
.border-color-55 {
  border-color: #E26F64;
}

/* line 263, style.scss */
.border-color-56 {
  border-color: #555EA0;
}

/* line 264, style.scss */
.border-color-57 {
  border-color: #2D7859;
}

/* line 265, style.scss */
.border-color-58 {
  border-color: #675496;
}

/* line 266, style.scss */
.border-color-59 {
  border-color: #238D71;
}

/* line 267, style.scss */
.border-color-60 {
  border-color: #8F9852;
}

/* line 268, style.scss */
.border-color-61 {
  border-color: #336808;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* typeahead */
/***************************************************/
/***************************************************/
/***************************************************/
/* line 279, style.scss */
.twitter-typeahead {
  width: 100%;
}

/* scaffolding */
/* ----------- */
/* line 286, style.scss */
.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* line 291, style.scss */
.ng-invalid {
  border-color: red !important;
  /* just for visual */
}

/* site theme */
/* ---------- */
/* line 298, style.scss */
.tt-input {
  width: 100%;
}

/* line 302, style.scss */
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #383738;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

/* line 317, style.scss */
.typeahead {
  background-color: #fff;
}

/* line 321, style.scss */
.typeahead:focus {
  border: 2px solid #0097cf;
}

/* line 325, style.scss */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 331, style.scss */
.tt-hint {
  color: #999;
}

/* line 335, style.scss */
.tt-dropdown-menu {
  opacity: 0.77;
  width: 100%;
  margin-top: 2px;
  padding: 8px 0;
  background-color: #454445;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 351, style.scss */
.tt-suggestion strong {
  font-size: 16px;
  color: #f2f2f2;
  letter-spacing: 1px;
  text-decoration: underline;
  font-style: italic;
}

/* line 359, style.scss */
.tt-suggestion {
  font-style: italic;
  letter-spacing: 0px;
  color: #fff;
  padding: 3px 10px;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  width: 100%;
  height: 24px;
}

/* line 371, style.scss */
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

/* line 376, style.scss */
.tt-suggestion p {
  margin: 0;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* angular animations */
/***************************************************/
/***************************************************/
/***************************************************/
/* line 387, style.scss */
.tab-node.ng-enter,
.tab-node.ng-leave {
  -webkit-transition: all linear 0.1s;
}

/* line 392, style.scss */
.tab-node.ng-leave.tab-node.ng-leave-active,
.tab-node.ng-enter {
  opacity: 0;
}

/* line 397, style.scss */
.tab-node.ng-enter.ng-enter-active,
.tab-node.ng-leave {
  opacity: 1;
}

/* line 402, style.scss */
.edge-cont {
  -webkit-transition: opacity 0.1s linear;
}

/* line 406, style.scss */
.edge-cont.ng-hide-add, .edge-cont.ng-hide-remove {
  display: block !important;
}

/* line 410, style.scss */
.edge-cont.ng-hide {
  opacity: 0;
}

@-webkit-keyframes blink {
  0% {
    -webkit-filter: none;
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 22px #bfbfbf);
  }
  100% {
    -webkit-filter: none;
  }
}
/* line 425, style.scss */
.tab-node.fromtab {
  -webkit-transition: all 0.5s ease;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease;
}
