<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>OverTab | Be over your tabs.</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="/js/angular-app/angular.min.js"></script>
        <script src="/js/d3.js"></script>
        <script src="/js/angular-app/filters/domainExtractionFilter.js"></script>
        <script src="/js/angular-app/controllers/mainController.js"></script>
        <script src="/js/angular-app/directives/nodeColor.js"></script>
        <script src="/js/angular-app/directives/edgeRender.js"></script>
        <script src="/js/angular-app/modules/app.js"></script>
    </head>

    <body ng-app="overtab">

      <div ng-controller="mainController" ng-init="init()" id="tab-graph" style="height:{{windowHeight}}px; width:{{windowWidth}}px;">
            <div class="tab-filter">
                <p><input ng-model="tabFilter" type="text" placeholder="filter"></p>
            </div>

            <div class="node-cont" style="height:{{windowHeight}}px">
              <div ng-repeat="tab in tabs | filter:tabFilter" class="tab-node" ng-click="switchToTab(tab.id)" node-color>
                  <div class="thumbnail"><img width="150px" src="{{tab.screencap}}"></div>
                  <div class="title">{{tab.title}}</div>
              </div>
            </div>

        <div class="edge-cont">
          <div ng-repeat="edge in edges" class="edge" edgeRender></div>
        </div>
        </div>
    </body>
</html>
